@use "../../../styles/variables.scss" as variables;

.custom_input {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &._fill {
    width: 100%;
  }

  &._squard {
    .input_container {
      border-radius: 0;
    }
  }

  &._border {
    &._focus {
      .input_container {
        border: 1px solid variables.$border-color-input !important;
      }
    }
  }

  &._pilled {
    border-radius: 50px;
    .input_container {
      transition: all 0.2s ease;
      border-radius: 50px !important;
    }
    &._focus {
      .input_container {
        border: 1px solid variables.$border-color-input !important;
      }
    }
  }

  label {
    margin-bottom: 8px;
    color: #aaaaaa;
    font-size: 12px;
  }

  .input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 0px 12px;
    height: 42px;
    gap: 12px;
    font-size: 16px;
    background-color: variables.$background-input;
    border: 0px solid variables.$border-color-input;

    ._prefix {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 12px;
      //border-right: 1px solid variables.$border-color-input;
    }

    ._suffix {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 12px;
    }

    &._error {
      border: 1px solid rgba(240, 68, 56, 1) !important;
      &._disabled {
        border: none !important;
      }
    }

    &._large {
      @apply h-[70px] md:h-[80px] rounded-[22px] md:rounded-[30px];
      padding: 10px 20px;

      input {
        @apply text-[18px] md:text-[24px];
      }
    }

    &._big {
      @apply h-[60px] md:h-[70px] rounded-[16px] md:rounded-[20px];
      padding: 8px 12px;

      input {
        @apply text-[14px] md:text-[18px];
      }
    }

    input {
      font-family: variables.$font-primary;
      padding: 8px 12px;
      transition: all 0.2s ease;
      border: none;
      background-color: transparent;
      color: #f9fafa;
      font-size: 16px;
      font-weight: 500;
      flex: 1;

      &.auto_size {
        transition: all 0.2s ease, width 0s;
      }

      &:focus-visible {
        border-color: green;
        outline: none;
      }

      &:disabled {
        // color: #aaaaaa !important;
      }
    }

    .prefix-text {
      font-size: 14px;
    }
  }
}
