@use "@styles/variables.scss" as variables;

.custom_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  background-color: transparent;
  color: variables.$text-primary-color;
  white-space: nowrap;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border-color: variables.$primary-color-dark;
  line-height: 20px;
  height: 42px;
  box-sizing: border-box;
  border: none;
  font-family: variables.$font-primary;
  font-size: 13px;
  font-weight: 600;
  padding: 0 2rem;
  outline: none;

  &._small {
    height: 36px;

    &._rounded {
      border-radius: 8px;
    }
  }

  &._big {
    height: 50px;

    &._rounded {
      border-radius: 12px;
    }
  }

  &._large {
    @apply h-[50px] sm:h-[60px];
    font-size: 16px;

    &._rounded {
      border-radius: 18px;
    }
  }

  &._tiny {
    height: 32px;
    padding: 0 8px;
    font-size: 12px;
    &._rounded {
      border-radius: 6px;
    }
  }

  &._icon {
    width: 48px;
    padding: 0;
    flex-shrink: 0;

    &._small {
      width: 40px;
    }

    &._big {
      width: 52px;
    }

    &._tiny {
      width: 32px;
    }
  }

  &._pilled {
    border-radius: 30px;
  }

  &._rounded {
    border-radius: 4px;
  }

  &._squared {
    border-radius: 0;
  }

  &._gradient {
    &._info {
      background: linear-gradient(
        95deg,
        variables.$primary-orange 0%,
        #100e17 100%
      );
      &:hover {
        opacity: 0.7;
      }
    }

    &._primary {
      background: linear-gradient(
        95deg,
        variables.$primary-color-dark 0%,
        variables.$primary-color 100%
      );
      &:hover {
        opacity: 0.7;
      }
    }

    &._warn {
      background: linear-gradient(
        95deg,
        variables.$primary-red 0%,
        #100e17 100%
      );
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &._info {
    background-color: variables.$primary-orange;
    border: 1px solid variables.$primary-orange;
    &:hover {
      cursor: pointer;
      background-color: rgba(variables.$primary-orange, 0.7);
    }
  }

  &._primary {
    background-color: variables.$primary-color;
    border: 1px solid variables.$primary-color;
    &:hover {
      background-color: rgba(variables.$primary-color, 0.7);
    }
  }

  &._warn {
    background-color: variables.$primary-red;
    border: 1px solid variables.$primary-red;
    &:hover {
      background-color: rgba(variables.$primary-red, 0.7);
    }
  }

  &._secondary {
    background-color: rgba(217, 230, 255, 0.1);
    border: 0px solid rgba(217, 230, 255, 0.1);

    &._active {
      color: #f9fafa;
      background-color: variables.$primary-color;
    }
  }

  &._active {
    color: #f9fafa;
    background-color: variables.$primary-color;
  }
  &._outline {
    color: white;
    border-width: 1px !important;
    background-color: transparent !important;

    &:hover {
      background-color: variables.$primary-color !important;
      color: black;
      opacity: 1;
    }
  }

  &._filled {
    width: 100%;
  }

  &.menu-button {
    padding: 4px;
    &:hover {
      background-color: rgba(217, 230, 255, 0.1);
    }

    &._active {
      background-color: variables.$primary-color;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    // pointer-events: none;
    cursor: not-allowed;
    // background-color: transparent;
    opacity: 0.3;
  }
}
